.navbar {
	position: fixed;
	background-color: #373c3f;
	height: 13vw;
	width: 100vw;
}

.mobileNavBar {
	display: none;
	color: #ebebeb;
	font-family: Montserrat;
	font-size: 24px;
	height: 100%;
}

.mobileNavBar p {
	display: inline-block;
	margin-left: 7vw;
	margin-top: 3%;
	font-size: 5vw;
}

#menuButton {
	float: right;
	height: 100%;
	width: 0;
	padding-right: 13vw;
	background-color: #202529;
}

#menuButton:hover {
	background-color: #16191b;
}

.menuIcon {
	float: right;
	margin-top: 4vw;
	margin-right: -9.5vw;
	width: 6vw;
	height: 5vw;
}

.nav-item:hover {
	background-color: #14AEC2
}

.nav-item {
	padding: 39px 15px 39px 15px;
}

.nav-item a {
	color: #f7f7f7;
	text-decoration-line: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 11px;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 641px) {
	.navbar {
		height: 97px;
	}

	#nav-menu {
		display: block !important;
		padding: 39px 0px 39px 29px;
		margin: 0;
	}
	
	.nav-item {
		padding: 39px 0px;
		display: inline;
	}
}

@media (max-width: 980px) {

	.mobileNavBar { 
		display: block;
	}

	#nav-menu {	
		display: none;
		background-color: #202529;
		padding: 10px 0px 20px 5vw;
		margin: 0;
	}

	.nav-item {
		padding: 5px;
		display: block;
	}
	
	.nav-item:hover {
		padding: 10px;
		font-size: 16px;
		border-radius: 5px 0px 0px 5px;
	}
}