body {
	margin: 0;
	background-color: #EBEBEB;
}

.main {
	padding-top: 13vw;
}

.primaryBanner {
	width: 100vw;
	height: 75vw;
}

.secondaryBanner {
    margin-top: -4px;
	width: 100vw;
	height: 25vw;
}

.infoBlock {
	margin: 50px 50px 100px 50px;
	display: grid;
	grid-column-gap: 50px;
	grid-template-columns: repeat(2, 1fr);
	text-shadow: 0 1px 0 white;
	color: #515151;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
}

.infoBlock h2 {
	margin: 0;
	grid-column: 1 / -1;
	color: #088ca5;
	font-size: 30px;
	font-weight: 600;
	line-height: 44px;
}

@media (min-width: 980px) {
	.navbar {
		height: 97px;
	}

	.main {
		padding-top: 97px;
	}

	.gridBanner {
		width: 100vw;
		margin-top: -4px;
		display: grid;
		grid-template-columns: repeat(3, 33.333vw)
	}

	.gridBanner img {
		height: 30vw;
		width: 33.333vw;
	}
}

@media (max-width: 980px) and (min-width: 639px) {
	.gridBanner {
		width: 100vw;
		margin-top: -4px;
		display: grid;
		grid-template-columns: 1fr
	}

	.gridBanner img {
		width: 100vw;
		height: 90vw;
	}

	.infoBlock {
		margin: 50px 50px 100px 50px;
		grid-template-columns: 1fr;
		text-shadow: 0 1px 0 white;
		color: #515151;
		font-family: Montserrat;
		font-size: 22px;
		font-weight: 600;
		line-height: 26px;
	}
}

@media (max-width: 639px) {
	.gridBanner {
		width: 100vw;
		margin-top: -4px;
		display: grid;
		grid-template-columns: 1fr
	}

	.gridBanner img {
		width: 100vw;
		height: 90vw;
	}
	.infoBlock {
		margin: 30px 30px 70px 30px;
		grid-template-columns: 1fr;
		text-shadow: 0 1px 0 white;
		color: #515151;
		font-family: Montserrat;
		font-size: 14px;
		font-weight: 600;
		line-height: 26px;
	}
}
