article {
    border: 3px solid black;
    min-width: 30%;
    max-width: 80%;
    padding: 10px;
    margin: 20px;
    border-width: 0.1px;
    border-radius: 15px;
    background: linear-gradient(to top, #292929, #323232);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

a {
    color: #FF6F61;
}

body {
    font-family: sofia-pro-soft, sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color: #3e3e3e;
    color: #d3d3d3;
    padding: 0px;
    margin: 0%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
}

img {
    border-width: 0.1px;
    border-radius: 7px;
}

.logo {
    font-size: 12px;
    font-weight: 600;
}

.search-tools {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

p {
    margin: 10px;
}

.nav-bar {
    z-index: 1000;
    top: 0;
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: auto;
    background: linear-gradient(to top, #202020, #252525);
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
}

.more-news-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.more-news-button button {
    width: 150px;
    height: 100%;
    color: #d3d3d3;
    padding: 5px;
    border-color: #3e3e3e;
    border-width: 0.1px;
    border-radius: 5px;
    background-color: rgb(19, 19, 19);
    font-family: sofia-pro-soft, sans-serif;
    font-style: normal;
    font-weight: 600;
}

select {
    color: #d3d3d3;
    background-color: #323232;
    border-width: 0.1px;
    border-color: #323232;
    border-radius: 5px;
    height: 26px;
    width: 40%;
    font-size: 20px;

}

input {
    padding: 0 5px;
    color: #d3d3d3;
    background-color: #323232;
    border-width: 0.1px;
    border-color: #323232;
    border-radius: 5px;
    font-size: 20px;
    width: 40%;
    height: 24px;
}

article {
    background-color: silver;
    text-align: center;
}

article img {
    width: 100%;
    height: 100%;
}

#no-search-results {
    text-align: center;
    font-size: 24px;
}

#articles-block {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}