body {
    font-family: sans-serif;
    background-color: #C0C0C0;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #808080;
    width: 100vw;
}

.navbar {
    height: px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    border: none;
}

.navbar ul{
	margin: 0px;
}

.navbar li{
	padding: 1vw 2vw;
	list-style-type: none;
}

form {
    width: auto;
    float: right;
}

form .getSearch {
    height: 16px;
    width: 150px;    
}

article.main {
	flex-grow: 1;
    padding: 10px;
    background-color: #F7F9F4;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: 5px;
}

article.main .article-head, article.main .article-body {
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    display: inline-block; 
}
article.main .article-body {
	vertical-align: top;
	max-width: 1080px;
    width: 100%;
}
article.main .article-head {
	max-width: 180px;
    width: 20%;
}

.article-body h2{
    text-decoration: none;
}

.article-body h2 a{
    text-decoration: none;
    color: #2d3436;
    font-size: 20px;
}

.article-body h2 a:hover {
    text-decoration: none;
    color: #636e72;
}

.article-body .article-properties {
    color: #7f8c8d;
	font-size: 14px;
}

article .article-head .img-preview {
    width: 90%;
    max-width: inherit;
}

.article-body p {
    font-family: serif;
    margin: 5px 0;
}

.article-body ul {
    font-family: serif;
}

#more {
    display:block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #ecf0f1;
    color: #D2691E;
    border-radius: 25px;
    border: 0;
    font: bold 15px arial, sans-serif;
    text-shadow:none;
    cursor: pointer;
}
#more:hover {
    background: #95a5a6;
    color: #ffffff;
}
